/*Mixins*/

@mixin hover {
    &:hover {
        cursor: pointer;
    }
}

@mixin smooth {
    transition: all 0.3s cubic-bezier(0.3, 0, 0.3, 1);
}


/*Colors*/

$red: #f97b7b;
$purple: desaturate(#9B51E0, 20%);
$green: desaturate(#17c666, 20%);
$medBlue: #26B2DD;
$ltGray: rgba(0, 0, 0, 0.15);
$medGray: #777777;
//for gradient
$start: $green;
$end: #e0e0e0;
$amt: 10%; //amount of difference for darken/lighten functions
$bkg: #fff;

/*Global styles*/

body {
    font-family: 'Open Sans', 'Calibri Light', Verdana;
    color: $medGray;
    margin: 0;
    overflow-x: hidden;
    &.noScroll {
        position: fixed;
        overflow-y: scroll;
        width: 100%;
    }
}

h1,
h2,
h3 {
    font-family: 'Montserrat';
    font-weight: 300;
}

hr {
    margin: 20px;
    border: transparent;
    border-bottom: 0.1px solid $ltGray;
}

small {
    font-size: 16px;
}

input,
select,
textarea {
    border-radius: 6px;
    border: 1px solid $ltGray;
    padding: 5px;
    margin: 5px;
    color: $medGray;
    font-family: 'Open Sans';
    width: calc(100% - 15px);
}

textarea {
    height: 20vh;
}

input:focus {
    box-shadow: 0px 0px 10px $medBlue;
    border: 1px solid $medBlue;
    color: darken($medGray, $amt);
    outline: none;
}

.danger {
    border: 2px solid $red!important;
    background: lighten($red, $amt * 3.5)!important;
    color: $red!important;
}

.success {
    border: 2px solid $green!important;
    background: lighten($green, $amt * 4)!important;
    color: $green!important;
}

.textCenter {
    text-align: center;
}

.inline {
    display: inline;
}

.flexParent {
    display: flex;
    justify-content: center;
    flex-direction: row;
    & > div {
        flex: 0 1 auto;
    }
}

.close {
    position: absolute;
    top: 5px;
    right: 5px;
    &:hover {
        color: darken($medGray, $amt);
    }
}

.btn {
    border-radius: 4px;
    padding: 10px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fff;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.3s all ease;
    max-width: 25vw;
    &:hover {
        cursor: pointer;
    }
}

.btnBlue {
    @extend .btn;
    background-color: $medBlue;
    box-shadow: 0px 6px 0px darken($medBlue, $amt);
    &:hover {
        background-color: darken($medBlue, $amt);
    }
}

.btnGreen {
    @extend .btn;
    background-color: $green;
    box-shadow: 0px 6px 0px darken($green, $amt);
    &:hover {
        background-color: darken($green, $amt);
    }
}

.btnRed {
    @extend .btn;
    background-color: $red;
    box-shadow: 0px 6px 0px darken($red, $amt);
    &:hover {
        background-color: darken($red, $amt);
    }
}

.btnPurple {
    @extend .btn;
    background-color: $purple;
    box-shadow: 0px 6px 0px darken($purple, $amt);
    &:hover {
        background-color: darken($purple, $amt);
    }
}

.modal {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    position: fixed;
    top: 50px;
    left: 0;
    background: rgba(10, 10, 10, 0.8);
    display: none;
    background: $bkg;
    text-align: center;
    & > .login > p {
        padding: 5px;
        border-radius: 6px;
    }
    & > .close {
        position: absolute;
        top: 10px;
        right: 10px;
        @include hover;
    }
}


/*Navbar styling*/

nav {
    @include hover;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $medBlue;
    color: #fff;
    max-height: 100%;
    transition: all 0.6s cubic-bezier(0.3, 0, 0.3, 1);
    transition: max-height 0.6s cubic-bezier(0.3, 0, 0.3, 1);
    overflow: hidden;
    border-bottom: 3px solid lighten($medBlue, $amt);
    box-shadow: 3px 0px 9px rgba(0, 0, 0, 0.7);
    z-index: 1;
    //the list of links in the nav bar
    & > ul {
        margin-top: 50px; //height of the nav bar
        //each individual link
        & > li {
            list-style: none;
            padding: 10px;
            @include smooth;
            &:hover {
                background: lighten($medBlue, $amt);
            }
        }
    }
    //the hamburger icon at the right of the mobile nav
    & > div {
        max-width: 50px;
        position: absolute;
        top: 10px;
        right: 10px;
        &.navCollapseToggleBtn > i {
            font-size: 32px;
        }
    }
    //when the collapse class is applied, the navbar 'rolls up'
    &.collapse {
        max-height: 50px;
        box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.9);
    }
}

#navHeader {
    margin: 10px;
    max-width: 90%;
    & > span {
        font-family: 'Open Sans';
        font-weight: 200;
    }
}


/*Section styling*/

.section {
    width: 100vw;
    min-height: 100vh;
    padding-top: 10px;
    position: relative;
    z-index: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}


/*Section 1 styling*/

#section1 {
    padding-top: 50px; //height of nav bar
}

#userWelcome {
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}

.addBtn {
    position: absolute;
    top: 90vh;
    right: 10px;
    background: $red;
    color: #fff;
    padding: 10px;
    border-radius: 120px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    width: 25px;
    height: 25px;
    text-align: center;
    transition: width 0.3s ease;
    &:hover {
        width: 120px;
        border-radius: 5px;
        cursor: pointer;
        & > i {
            font-size: 11px;
            &::after {
                opacity: 100;
                content: "Add a new message";
                font-family: "Open sans";
            }
        }
    }
}

.project {
    background: #eee;
    padding: 10px;
    border-radius: 10px;
    position: relative;
}

.splashScreen {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(45deg, #009688, #2d9cdb);
    opacity: 100;
    transition: opacity 0.3s ease-in-out;
    & > svg {
        flex: 0 1 auto;
        flex-basis: 50vw;
    }
    & > div > h4 {
        color: #fff;
    }
}

.loader {
    border: 6px solid rgba(0, 0, 0, 0.15);
    border-top: 6px solid #fff;
    border-radius: 50%;
    width: 12vw;
    height: 12vw;
    margin: 0 auto;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (min-width: 720px) {
    nav > ul > li {
        display: inline;
    }
    nav > ul {
        display: inline;
        padding: 5px;
    }
    #navHeader {
        display: inline;
    }
    nav {
        padding: 5px;
    }
    .navCollapseToggleBtn {
        display: none;
    }
}
