<!DOCTYPE html>
html
	head
		link(href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans:300,400,700|Material+Icons" rel="stylesheet")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title TimeTracker
		style
			include ../public/scss/site.css
	body
		div.content
			//navbar
			nav.collapse(id="navbar" v-on:click="toggleNav")
				h1(id="navHeader") TimeTracker | 
					span(v-html="page")
				ul
					li#section1Btn(v-on:click="scrollTo")
						a#section1Btn Home
					
					li(v-on:click="showModal")
						a Log In
					li(v-on:click="signOut")
						a Log Out
				div.navCollapseToggleBtn
					i.material-icons menu
			//section 1 - HOME
			div.section(id="section1")
				h2(id="userWelcome") {{ user.name ? "Welcome, " + user.name : "Please log in."}}
				hr
				h4.textCenter(v-if="projects.length == 0") No projects to display
				div.flexParent(v-for="(item,index) in projects" v-if="user.name")
					div.project(v-bind:class="'s' + index")
						h4 {{ projects[index].name }}
						p  {{ projects[index].hours }} hours
						p  Session started {{ projects[index].startTime }} 
						p  Session ended {{ projects[index].endTime }} 
						div.btn.btnBlue(@click="startTime" v-if="projects[index].start") Start working
						div.btn.btnRed(@click="endTime" v-if="!projects[index].start") Stop working
						div.close(v-on:click="deleteProject")
							i.material-icons close
				hr
				div.btn.btnGreen Add a new project

			//login modal
			div.modal(id="modal")
				div.login
					h2 Log In
					input#email(v-model="email" placeholder="Email")
					input#pass(v-model="pass" placeholder="Password" type="password")
					p#warning {{warning}}
					div.btnGreen.signInBtn(v-on:click="signIn") Sign In
					div.btnBlue.signUpBtn(v-on:click="signUp") Sign Up
				div.close(v-on:click="closeModal")
					i.material-icons close
			//delete modal
			div.modal(id="deleteModal")
				h2 Are you sure you want to delete this project?
					
				div.btnGreen(v-on:click="deleteProjectFR") Yes, delete it!
				div.btnRed(v-on:click="closeModal") No
				div.close(v-on:click="closeModal")
					i.material-icons close
			//loading splash screen
			div.splashScreen
			
				div(style="flex: 0 1 auto; text-align:center;padding-top: 10vw;")
					div.loader
					h4 Loading




		//firebase
		script(src="https://www.gstatic.com/firebasejs/3.7.6/firebase.js")
		//vue
		script(src="../public/js/vue.js")  
		// DEVELOPMENT ^
		//script(src="../public/js/vue.min.js") 
		// PRODUCTION ^
		script(src="../public/js/site.js")
